:root{
    --btn-color:#ffe8bb;
    --displays-color: #eaffc9;
    --game-color: #ffbaf8;
    --page-color: #ffdce1;
    --modal-color: #c7f1fc;
    --text-color: #000000;
    --background-img: url('/img/light-background.png')
}


body{
    font-family:"Comic Sans MS";
    box-sizing: border-box;
    background-color:var(--page-color);
    color: var(--text-color);
    text-align: center;
    background-image: var(--background-img);
    background-size: cover;
}

button{
    background-color: var(--btn-color);
    border: 1px double rgb(150, 110, 90);
    border-radius: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: fit-content;
    color: var(--text-color);
}
.game-head{
    align-items: center;
}

table {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--game-color);

}

td {
    background-color: rgb(199, 199, 199);
    width: 20px;
    height: 25px;
    border: 2px inset rgb(200, 186, 186);
    font-size: 90%;
    text-align: center;
    font-weight:bolder ;
    overflow: hidden;

}

.create-count{
    display: none;
}

.closed {
    content-visibility:hidden;
    background-color: lightgray;
    border: 2px outset rgb(247, 246, 246);

}

.level-modal{
    width: 100px;
    position: absolute;
    background-color: var(--modal-color);
    padding: 5px;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 5px;
    visibility: hidden
}

.show-modal{
    visibility: visible;
}

.hidden{
    display: none;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.marked {
    background-color: lightgray;
    content-visibility: visible;
}

.game {
    margin: auto;
    border: 1px solid var(--text-color);
    max-width:min(500px,70%);
    min-width: 400px;
    text-align: center;
    background-color: var(--game-color);
}



.timer {
    background-color: var(--displays-color);
    width: 15%;
    display: inline-block;
    margin-right: 10%;
    border-radius: 5px;


}

.smiley {
    width: max(30px,15%);
    display: inline-block;
    background:none;
    border: none;
    font-size:xx-large;
}

.mark-count {
    background-color: var(--displays-color);
    width: 15%;
    display: inline-block;
    margin-left: 10%;
    border-radius: 5px;
}

.hint{
    border: none;
    background:none;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 10px;

}

.hide{
    visibility:hidden;
}

.score-board{
    margin: auto;
    margin-top: 10%;
    background-color:var(--modal-color);
    width: 30%;
    max-width: 250px;
    text-align:start ;
    padding: 3px;
    border: 7px dotted var(--displays-color);
    border-radius: 10px;
}

h4{
 text-align: center;
 margin-top: 1px;
 text-decoration: underline;
}


.safe{
    transition: 1s;
    background-color: rgba(255, 0, 0, 0.466);
}

.safe-btn{
    width: 100%;
    font-size: medium;
    
}

.clicks{ 
    font-size: smaller;
    width: fit-content;
    text-align: center;
    display: inline-block;
}

p{
    margin-block-start:0px;
    font-size: smaller;
}

.create-modal{
    background-color: var(--btn-color);
}

.lives{
    margin-block-start: 2%;
    margin-block-end: 2%;
}
.dark-mode{
    position: absolute;
    right: 0px;
    border:none;
    background-color: rgb(48, 103, 85);
    color:white
}

.btn-container{
    display: flex;
    text-align: center;
    gap: 5px;
    width: fit-content;
    margin: auto;
}